[project]
name = "emush-rag"
version = "0.1.0"
description = "A RAG-based API to answer questions about eMush."
readme = "README.md"
requires-python = ">=3.12,<3.13"
license = "AGPL-3.0-or-later"
authors = [
    {name = "Charles-Meldhine Madi Mnemoi", email = "charlesmeldhine.madimnemoi@gmail.com"}
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.13",
]

dependencies = [
    "fastapi[standard]>=0.115.12",
    "chromadb==0.6.0",
    "openai>=1.78.1",
]

[project.urls]
"Bug Tracker" = "https://github.com/cmnemoi/emush_rag/issues"
Changelog = "https://github.com/cmnemoi/emush_rag/blob/main/CHANGELOG.md"
Homepage = "https://github.com/cmnemoi/emush_rag/"
Repository = "https://github.com/cmnemoi/emush_rag/"

[project.scripts]
index-documents = "emush_rag.cli.index_documents:main"

[dependency-groups]
dev = [
    "pytest-watcher>=0.4.3",
    "python-semantic-release>=9.21.1",
    "typer>=0.15.4",
]
lint = [
    "mypy>=1.15.0",
    "pytest-mypy>=1.0.1",
    "ruff>=0.11.9",
    "types-tqdm>=4.67.0.20250513",
]
test = [
    "pytest>=8.3.5",
    "pytest-cov>=6.1.1",
    "pytest-asyncio>=0.26.0",
]

[tool.semantic_release]
version_toml = ["pyproject.toml:project.version"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["emush_rag"]
