name: Continous Delivery

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-22.04
    steps:
      -
        name: Checkout code
        uses: actions/checkout@v4
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: cmnemoi/emush_rag_api:latest
      -
        name: Copy compose file to server
        uses: appleboy/scp-action@v1
        with:
          host: ${{ vars.SERVER_HOST }}
          username: ${{ vars.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: "./compose.prod.yml"
          target: ~/www
      -
        name: Deploy to server
        uses: appleboy/ssh-action@7eaf76671a0d7eec5d98ee897acda4f968735a17
        with:
          host: ${{ vars.SERVER_HOST }}
          username: ${{ vars.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd ~/www
            echo "GF_SECURITY_ADMIN_PASSWORD=${{ secrets.GRAFANA_ADMIN_PASSWORD }}" > .env
            echo "OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY_PROD }}" >> .env
            echo "VECTOR_STORE_URL=${{ vars.VECTOR_STORE_URL }}" >> .env
            echo "VECTOR_STORE_PORT=${{ vars.VECTOR_STORE_PORT }}" >> .env
            env $(cat .env) docker stack deploy -c compose.prod.yml emush_rag_api